*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

td{
    text-align: center;
}

th{
    text-transform: uppercase;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table,tr,th,td{
    border: 1px solid black;
    padding: 5px;
}

